.hover-left {
    background: #ebebeb;
    color: #5e5e5e;
    padding: 20px;
    position: relative;
    text-decoration: none;
}

.hover-left::before {
    content: "";
    background: #d56a6a;
    position: absolute;
    left: 0;
    top: 0;
    right: 100%;
    height: 5px;
    transition: 0.5s ease-out;
}

.hover-left:hover::before {
    right: 0;
}