<div>


  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <p class="w3-medium">go to my website <a href="https://kinghacker.glitch.me/" target="_blank" class="w3-hover-text-green">GOO FAST</a></p>
  <!-- End footer -->
  </footer>

</div>



<iframe src="https://discordapp.com/widget?id=744887254304161883&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>