<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KINGHACKER!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <h1>KING IS HRER</h1>
    
    <p>
      Its So Cool Site Join Our   <a href="https://discord.gg/xzrebe">Discord Server</a>!
    </p>
    
    <p>
      sub to my channel   <a href="https://is.gd/EPE8wA">youtube channel</a>!
      
 
    </p>

    
    
<br>
    



    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
         <a href="https://is.gd/EPE8wA">KING ON TOP</a>









